@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    padding: 5rem;
    display: grid;
    justify-content: center;
}

h1, h2, h3 {
    text-align: center;
}

.all_data {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.data {
    max-width: 400px;
    width: 200px;
    min-width: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 2rem;
}

.loading {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}